/* @Jorgelisapa */

/* CUSTOM PROPERTIES */
:root {
    /* var(--first-color) */
    --first-color: #c84451;
    /* var(--second-color) */
    --second-color: #d6d6d6;
    /* var(--third-color) */
    --third-color: #f4f4f4;
        /* var(--fourth-color) */
    --fourth-color: #ffffff;

    /* FONTS */
    /* var(--main-font) */
    --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    /* BODY-STYLES */
body {
    margin: 0 auto;
    background-color: var(--third-color);
    max-width: 900px;
    font-family: var(--main-font);
}


/* HEADER */
.header-brand {
    width: 150px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.header-brand__link {
    text-decoration: none;
    color: black;
}

.header-brand__img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.header-brand__slogan {
    font-weight: 800;
    margin: 0;
    /* font-family: var(--main-font); */
}

.header-menu {
    border-radius: 7px;
    overflow: hidden;
}

.header-menu__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header-menu__item {
    width: 20%;
    text-align: center;
}

.header-menu__link {
    text-decoration: none;
    /* font-family: var(--main-font); */
    font-size: 0.8em;
    font-weight: 700;
    color: var(--first-color);
    background-color: var(--second-color);
    padding: 10px;
    display: block;
}

.header-menu__link:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}


/* MAIN-ARTICLE */
.main-article {
    max-width: 100%;
    background-color: var(--fourth-color);
    display: flex;
    margin: 15px 0;
    border-radius: 5px;
    /* font-family: var(--main-font); */
}

.main-article__details {
    max-width: 60%;
    margin: 15px;
}

.main-article__publication-type {
    font-size: .7em;
    font-weight: 600;
    margin-top: 0;
}

.main-article__title {
    font-size: 1em;
}

.main-article__title-link {
    text-decoration: none;
    color: var(--first-color);
    font-weight: bold;
}

.main-article__text {
    font-size: .8em;
}

.main-article__img {
    border: 1px solid var(--second-color);
    max-width: 35%;
    margin: 15px;
    padding: 4px;
}

.main-article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ARTICLES */

.articles {
    max-width: 100%;
    background-color: var(--fourth-color);
    border-radius: 5px;
    overflow: hidden;
    padding: 0 10px;
}

.article{
    display: flex;
}

.article__publication-data {
    min-width: 25%;
    margin: 10px;
}

.article__date {
    font-size: .7em;
}

.article__author {
    font-size: .7em;
    margin: 0;
}

.article__link {
    text-decoration: none;
    color: var(--first-color);
}

.article__comments {
    font-size: .7em;
    margin: 0;

}

.article__details {
    margin: 10px;
}

.article__title {
    margin: 0;
}

.article__title-link {
    text-decoration: none;
    color: var(--first-color);
    font-size: .8em;

}

.article__text {
    font-size: .8em;
}

.article__read-more {
    text-decoration: none;
    color: var(--first-color);
    font-size: .6em;
}


/* TERTIARY-ARTICLES */

.side-articles {
    max-width: 100%;
    background-color: var(--fourth-color);
    margin: 15px 0;
    border-radius: 5px;
}

.side-article {
    display: flex;
}

.side-article__img {
    max-width: 35%;
    margin: 15px;
}

.side-article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-article__text {
    font-size: .8em;
}


/* FOOTER */

.footer {
    display: flex;
    max-width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.footer__link,
.footer__repo {
    text-decoration: none;
}

.footer__repo {
    font-size: .7em;
    font-weight: bold;
    padding: 5px;
    background-color: var(--first-color);
    color: var(--second-color);
    border-radius: 5px;

}

.footer__repo:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.footer__copyright {
    font-size: .7em;
}


/* MEDIA-QUERIES */
@media screen and (max-width: 600px) {

    body {
        margin: 10px;
    }

    .header-menu__link {
        font-size: .6em;
        padding: 10px 0;
    }

    .main-article {
        display: block;
    }

    .main-article__details {
        max-width: 100%;
    }

    .main-article__img {
        max-width: 100%;
    }

    .article {
        display: block;
    }

    .footer {
        display: block;
    }
}
